* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "montserrat", sans-serif;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #FFFDE0, #AEC4EB);
}

h1 {
    margin: 20px;
    text-align: center;
    font-size: 50px;
}

.image {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.image>img {
    border-radius: 5px;
    box-shadow: 20px 20px 50px grey;
    
}

.description {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}

.description>h2 {
    margin-top: 10px;
    text-align: center;
    width: 900px;
    font-size: 30px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
}

#ingredients {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    width: 1000px;
}

.heading {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 5px;
}

h3 {
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
}

.ingredients {
    margin-top: 10px;
    margin-left: 25px;
    text-align: left;
    
}

.ingredients>li {
    margin-bottom: 5px;
}

.steps {
    text-align: left;
    margin-left: 25px;
    margin-right: 10px;
}

.steps>li {
    margin-bottom: 10px;
}

.link {
    padding: 10px;
    font-size: 20px;
}